{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row justify-content-md-center title-div">
      <h1 class="mt-5">Roku Controller</h1>
  </div>

  <div class="row">
    <p>Roku Tv is on: {{ power_is_on }}</p>
  </div>

  <div class="row">
    {% if not power_is_on %}
    <form action={{ url_for("views.power", value="on")}} method="post">
      <input type="submit" class="btn btn-success" value="Power On">
    </form>
    {% else %}
      <form action={{ url_for("views.power", value="off")}} method="post">
        <input type="submit" class="btn btn-danger" value="Power Off">
      </form>
    {% endif %}
  </div>

  <div class="row">
    <p>Current channel: {{ current_app.name }}</p>
  </div>

  <div class="row">
    <table class="tg">
      <tr>
        <th class="tg-0lax">channel</th>
        <th class="tg-0lax">type</th>
        <th class="tg-0lax">is active</th>
        <th class="tg-0lax">activate</th>
      </tr>
      {% for app in installed_apps %}
      <tr>
        <td class="tg-0lax">{{ app.name }}</td>
        <td class="tg-0lax">{{ app.app_type }}</td>
        <td class="tg-0lax">{{ app.name == current_app.name }}</td>
        <td class="tg-0lax">
          <form action={{ url_for("views.launch", app_id = app.id) }}  method="post" id="nameform">
            <input type="submit" class="btn btn-primary" name="btn_launch {{app.name}}" value=Launch />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
